header {
  padding: 1rem;
}
header .list-item {
  display: flex;
  align-items: center;
}

header .list-item li {
  color: #fff;
  margin: 0 1rem 0 0;
  list-style: none;
}
header .list-item li button a {
  text-transform: capitalize;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  color: white;
}
header .list-item li button:hover a {
  background: rgb(87, 154, 90);
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header .list-item {
    flex-direction: column;
    align-items: start;
    margin-top: 1rem;
  }
  header .list-item li {
    margin-top: 1rem;
  }
}
